Seid2021.xlsx
Seid2022.xlsx
Seid2023.xlsx
TABELA-DESMATAMENTO-E-VEGETACAO-SECUNDARIA-BIOMA-x-ESTADO-MAPBIOMAS-COL8.0-v2.xlsx
TopicosEspeciais_25.04.2024.xlsx
codigoDosGraficos_25.04.2024.py
codigoParaAbrirCsvNoPython.py
codigoParaAbrirExcelNoPython.py
dashboard_alerts-shapefile.zip
dashboard_alerts-shapefile/
envioDeTopicosProva1.pdf
prova1/
prova1Codigo.py
rascunhoDeEnvio